body{
  background-color: white;
}

/* General styling for post container */
.post-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: skyblue;
    border-radius: 8px;
  }
  
  /* Styling for the choice containers to be side-by-side */
  .choices-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
  
  .choice-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  /*  to make image in a fixed size frame */
  .image-container {
  width: 200px; /* Fixed width for the frame */
  /* Remove height property */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  .post-image {
    /* Ensure the image spans the full width of the container */
    height: 100%; /* Ensure the image spans the full height of the container */
    object-fit: cover; /* Cover the frame with the image, cropping it if necessary */
  }
  
  
  /* Styling for the buttons */
  .choices {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styling for the choice counts */
  .choice-count1, .choice-count2 {
    margin-top: 5px;
  }
  
  /* Styling for content */
  .post-content {
    margin: 10px 0;
  }
  

  /* style for icon container */

  .icon-container{
    display: flex;
    justify-content: center;
  }
  .likes-container, .comments-container{
    margin:0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

.likes-count, .comments-count, i{
  margin:5px
}

/* style the username */

.post-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.username {
  font-size: 1.2rem;
  color: black;
}
