*{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* .signup{
  width: 100%;
  height: 100vh;
} */

video {
  width: auto;
  height: auto;
  object-fit: cover;
}

