/* nav.css */

/* Style the navbar */
.navbar {
  background-color: #deb888; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 40px;
}

/* Align navbar items horizontally */
.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Style the navbar links */
.nav-link {
  color: snow; /* Set the text color */
  font-weight: 500;
  text-decoration: none;
  margin-right: 15px; /* Adjust spacing between links */
  transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

/* Style the navbar links on hover */
.nav-link:hover {
  color: #4d3a0a; /* Set the hover color */
}

.nav{
  margin-top: 8px;
}

/* Hide the navbar on small screens */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
